.Card-container-front {
  height: 369px;
  width: 273px;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.31);
  margin: 0 0 0 46px;
  display: flex;
  flex-wrap: nowrap;
  float: left;
}
.Spine {
  height: 369px;
  width: 83px;
  background-color: #fff;
  margin: 0 0 0 -46px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
  align-items: center;
}
.Book-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  height: 178px;
}

img.Book-front-img {
  width: 204px;
  height: 370px;
  align-self: center;
  margin-left: -14px;
}
.Book-Image_Container {
  overflow: hidden;
}
